.git
.gitignore
.dockerignore

.agents
.codex
.vscode

node_modules
dist
coverage

.env
.env.*
*.log

OLD_README.md
docker-compose.yaml
kubernetes.yaml
compose-wordpress

README.md
Jenkinsfile
entrega.yaml
agent.yaml
evidencias

